<div class="row">
    <div class="col-sm-12">
        <app-card [title]="'Seriados'">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                    <button [routerLink]="['/multimidia/cadastro-seriado']" class="btn btn-primary btn-round">Novo</button>&nbsp;
                    <button [routerLink]="['/multimidia/cadastro-seriado']" class="btn btn-primary btn-round">Editar</button>&nbsp;
                    <button [routerLink]="['/multimidia/cadastro-seriado']" class="btn btn-danger btn-round">Excluir</button>&nbsp;
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                    <div>
                        <label class="label-control">Show
                            <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">100</option>
                            </select>
                            entries
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div style="text-align: right;">
                        <label>Pesquisar:
                            <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                        </label>
                    </div>
                </div>
            </div>
            <ngx-datatable 
                class="data-table" 
                [rows]="rows" 
                [columnMode]="'force'" 
                [columns]="columns" 
                [headerHeight]="50" 
                [footerHeight]="50"
                [rowHeight]="'auto'" 
                [limit]="rowsOnPage"
                [selected]="selected" 
                [selectionType]="'single'" 
                (activate)="onActivate($event)"
                (select)='onSelect($event)'>

                <ngx-datatable-column name="Código" prop="id"></ngx-datatable-column>
                <ngx-datatable-column name="Descrição" prop="descricao"></ngx-datatable-column>
                <ngx-datatable-column name="IMDB" prop="imdbId"></ngx-datatable-column>
                <ngx-datatable-column name="Ativo" prop="ativo"></ngx-datatable-column>

            </ngx-datatable>
        </app-card>
        <div class="row">
            <div class='col-sm-12 selected-column'>
                <h4 class="sub-title p-t-15">Selected Row</h4>
                <ul>
                    <li *ngFor='let sel of selected'>
                        <span class="label label-primary">{{sel.descricao}}</span>
                    </li>
                    <li *ngIf="!selected.length">No Selections</li>
                </ul>
            </div>
        </div>
    </div>
</div>