<!--<div class="row">
    <div class="col-sm-12">
        <nav class="navbar navbar-light bg-light">
            <div class="col-sm-10">
                <a class="navbar-brand">
                    <button [routerLink]="['/multimidia/cadastro-seriado']" class="btn btn-primary btn-round">
                        <i class="icofont icofont-file-text"></i>
                        Novo
                    </button>&nbsp;
                    <button [routerLink]="['/multimidia/cadastro-seriado']" class="btn btn-primary btn-round">
                        <i class="icofont icofont-edit"></i>
                        Editar
                    </button>&nbsp;
                    <button [routerLink]="['/multimidia/cadastro-seriado']" class="btn btn-danger btn-round">
                        <i class="icofont icofont-ui-delete"></i>
                        Excluir
                    </button>&nbsp;
                </a>
            </div>
        </nav>
    </div>
</div>
<br/>//-->
<app-lista [propurl]="endereco"
           [columns]="columns"
           [titulo]="titulo"></app-lista>