<div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Ng-X Basic Datatable'">

            <app-card [title]="'Ng-X Search/Filter'" [classHeader]="true">
                <!--<span class="code-header">use class <code>data-table </code> with ngx-datatable and set <code>search element</code>.</span> /-->
                <div class="row">
                  <div class="col-sm-12">
                    <label class="form-inline f-right">
                      <div class="form-group">
                        <label>Search: </label>
                        <input
                          type='text'
                          class="form-control input-sm m-l-10"
                          placeholder='Search Name'
                          (keyup)='updateFilter($event)'
                        />
                      </div>
                    </label>
                  </div>
                </div>
                <ngx-datatable
                    #table
                    class='data-table'
                    [columns]="columns"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="50"
                    [limit]="10"
                    [rows]='rowsFilter'>
                    <ngx-datatable-column name="Código" prop="id"></ngx-datatable-column>
                    <ngx-datatable-column name="Descrição" prop="descricao"></ngx-datatable-column>
                    <ngx-datatable-column name="IMDB" prop="imdbId"></ngx-datatable-column>
                </ngx-datatable>
              </app-card>
            </div>
          </div>        